<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  <!--  BootStrap  -->


<link rel="stylesheet" href="{% static 'css/EmpDetails.css'%}">


  </head>
  <body>

<div class="topnav">
  <a href="{% url 'List' %}">All Employee</a>
  <a href="{% url 'signin' %}">Add New Employee</a>
</div>

<div style="padding-left:16px">
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="">
          
          {% block content %}
          {% endblock %}
        </div>
      </div>

    </div>

  </div>
</div>
  </body>
</html>
