<label for="FullName">Full Name</label>
<input type="text" id="FullName" name="FullName" placeholder="Your name..">

<fieldset data-role="controlgroup">
  <legend><b>Choose your gender:</b></legend>
    <label for="male" style="display: inline-table;">Male</label>
    <input type="radio" name="Gender" id="male" value="male" checked>
    <label for="female" style="display: inline-table;">Female</label>
    <input type="radio" name="Gender" id="female" value="female">
  </fieldset>

<label for="Phonenumber"><b>Phone</b></label>
<input type="tel" placeholder="Phone" name="Phonenumber" required>

<label for="EmailId"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="EmailId" required>

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" required>

<label for="psw-repeat"><b>Repeat Password</b></label>
<input type="password" placeholder="Repeat Password" name="psw-repeat" required>

<label for="DOB"><b>Date Of Birth</b></label>
<input type="date" name="DOB" id="DOB">


<label for="Dateofjoining"><b>Date of joining</b></label>
<input type="date" name="Dateofjoining" id="Dateofjoining">

<label for="Designation"><b>Employee Designation</b></label>
<select name="Designation">
    <option value="Admin">Admin</option>
    <option value="Software Eng" selected>Software Eng</option>
    <option value="Senior SE">Senior SE</option>
    <option value="Manager" >Manager</option>
</select>

<label for="Department"><b>Employee Designation</b></label>
<select name="Department">
    <option value="Admin">Admin</option>
    <option value="IT" selected>IT</option>
    <option value="HR">HR</option>
    <option value="Operations" >Operations</option>
    <option value="Transport" >Transport</option>
</select>

<label for="PermanentAddress"><b>Address</b></label>
<textarea rows="4" cols="50" name="PermanentAddress" form="usrform">Enter your address...</textarea>
